body{
  background-color: ;
}
img{
  height: 30rem;
  width: 80%;
  filter: brightness(80%);
}
em{
  font-size: 20px;
  font-weight: 4px;
}
h5{
  margin-left: 4rem;
}
i{
  font-size: 18px;
  margin-right:  5px;
}


img.img-carousel{
  height: 28rem;
  width: 9rem;
  filter: brightness(80%);
}


div.card:hover{
  background-color:#fff;
  color:black;
  box-shadow: 5px 5px darkgray ;
  border-radius: 12;
}

h2.MyJob-text{
  margin-right: auto;
  color:'turquose';
}
@media screen and (max-width:900px){
  h2.MyJob-text{
    margin-right:  50px;
    color:'turquose';
  }
}
@media screen and (max-width:900px) {
  a{
    margin-top: 15px;
  }
}

a.btn{
  margin-right: auto;
}
@media screen and (max-width:900px){
a.btn{
  margin-right: auto;
    margin-top: auto;
}
}
.blue{
  background-color: #eff2e6;
  height: 25%;
width: 26%;
  position: absolute;
  z-index: 3;
    margin-left:39.6% ;
    margin-top: 25rem;

}
@media screen and (max-width:900px){
  .blue{
    background-color: #eff2e6;
    height: 38%;
    width: 43%;
    margin-top:21rem;
position: absolute;
text-align: center;
margin-left: 30%;
margin-right: 30%;
  }
}
.green{
  background-color: #eff2e6;
  height: 25%;
width: 26%;
  position: absolute;
  z-index: 10;
  margin-left:67.6%;
  margin-top: 25rem;

}
@media screen and (max-width:900px){
  .green{
    background-color: #eff2e6;
    height: 38%;
    width: 43%;
    margin-top:39rem;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10rem;
    text-align: center;

  }
}
.red{
  background-color: #eff2e6;
  height: 25%;
width: 26%;
  margin-left: 12%;
  position: absolute;
  margin-top: 25rem;
  z-index: 10;
}
@media screen and (max-width:900px){
  .red{
    background-color:#eff2e6;
    height: 38%;
    width: 43%;
    margin-top:3rem;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;

  }
}
.header-nav{
  position: relative;
  z-index: 0;


}
@media screen and (max-width:900px){
  .header-nav{
  position: relative;
  z-index: 1;
  text-align: center;


  }
}
.btn-carousel{
  margin-bottom: 55px;

}
.body-card{
  text-align: center;
}
.navbar-ul{
  margin-left: auto;
}


#services{
  background-color: #fff;
position: absolute;
z-index:-1;
width: 100%;
margin-top: 1px;
}
@media screen and (max-width:900px){
  #services{
    background-color: #fff;
  position: relative;
  z-index: 0;
  text-align: center;
  /**width: 100%;**/
  }
}
#product{
  position: absolute;
  z-index: 10;
  margin-bottom: 33px;
}
#foot{
  position: relative;
  z-index: 11;
  margin-top: 36rem;
  text-align: center;
  background-color: darkgray;
}
@media screen and (max-width:900px){
  #foot{
    position: absolute;
    z-index: 0;
    text-align: center;
    background-color: darkgray;
    margin-top: 55rem;
    width: 100%;
  }
}
